@using GEC.ViewModels.Groups
@model ShowGroupViewModel

@{
    ViewData["Title"] = string.Format("Groupe - {0}", Model.Group.Name);

    string savePrefix = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;

    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = "EditContact";
    @await Component.InvokeAsync("EditContact", new { model = new EditContactFrViewModel(), websiteLanguage = WebsiteLanguage.Fr });

    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = "EditGroup";
    @await Component.InvokeAsync("EditGroup", new { model = new EditGroupFrViewModel(), websiteLanguage = WebsiteLanguage.Fr });

    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = "ManageGroupMembers";
    @await Component.InvokeAsync("ManageGroupMembers", new { model = new ManageGroupMembersViewModel(), websiteLanguage = WebsiteLanguage.Fr });

    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = savePrefix;
}

@section Styles {
    <!-- Stylesheets -->
    <link rel="stylesheet" href="Assets/css/Shared/bootstrap-duallistbox.min.css" />

    <link rel="stylesheet" href="~/Assets/CSS/Contacts/FR/show-contact-fr.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Contacts/FR/edit-contact-fr.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Contacts/FR/display-contacts-fr.css" />

    <link rel="stylesheet" href="~/Assets/CSS/Groups/FR/manage-group-members-fr.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Groups/FR/edit-group-fr.css" />
}

@section Sidebar {
    <!-- Sidebar Content -->
    <li id="groups-menu-item" class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon folder-orange fas fa-users"></i>
            <span class="menu-text">
                Groupes
                <span class="processing-icon hidden"><i class="ace-icon fas fa-sync fa-spin blue"></i></span>
                <span class="submenu-right-buttons">
                    <i class="anchor-button fas fa-cog" data-url="/Fr/Groups"></i>
                    <i class="dropdown-sign fas fa-angle-down"></i>
                </span>
            </span>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="submenu-action">
                <a href="#">
                    <i class="submenu-action-icon fas fa-search"></i>
                    <span class="menu-text"><input type="text" placeholder="Recherche ..." id="submenu-group-search" class="submenu-action-input" autocomplete="off" /></span>
                </a>
            </li>
        </ul>
    </li>
}

<!--Title-->
<div class="header blue header-with-buttons">
    <h1 class="lighter">
        <i class="ace-icon header-icon fas fa-users"></i>
        Groupe: @Model.Group.Name
    </h1>
    <div class="header-right-buttons view-buttons-hidden-576">
        <button class="btn btn-white btn-primary btn-bold tooltip-info" id="contact-table-view-button" data-toggle="tooltip" data-placement="bottom" title="Vue Tableau">
            <i class="fas fa-table"></i>
        </button>
        <button class="btn btn-white btn-primary btn-bold tooltip-info" id="contact-list-view-button" data-toggle="tooltip" data-placement="bottom" title="Vue Liste">
            <i class="fas fa-th-list"></i>
        </button>
    </div>
</div>

@await Component.InvokeAsync("DisplayContacts", new { websiteLanguage = WebsiteLanguage.Fr })

<!-- inline scripts related to this page -->
@section Scripts {
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery.dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/Shared/jquery.bootstrap-duallistbox.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/datetime-moment.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/dataTables.select.min.js"></script>

    <script type="text/javascript">
    //Assign Model Variables
        currentPage = pages.groupShow;

        //Current Group
        var shownGroup = @Html.Raw(Json.Serialize(Model.Group));

        //Groups Array
        var groupsArray = @Html.Raw(Json.Serialize(Model.Groups));

        //Contacts Array
        var contactsArray = @Html.Raw(Json.Serialize(Model.Contacts));
    </script>


    <script type="text/javascript" src="~/Assets/JS/Contacts/FR/edit-contact-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Contacts/FR/delete-contact-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Contacts/FR/display-contacts-fr.js"></script>

    <script type="text/javascript" src="~/Assets/JS/Groups/FR/sidebar-groups-loading-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Groups/FR/group-utilities-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Groups/FR/manage-group-members-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Groups/FR/edit-group-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Groups/FR/delete-group-fr.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Groups/FR/show-group-fr.js"></script>

}

