<!--View Switch Buttons 576-->
<div class="header-right-buttons view-buttons-shown-576">
    <button class="btn btn-white btn-primary btn-bold tooltip-info" id="group-table-view-button-576" data-toggle="tooltip" data-placement="top" title="Vue Tableau">
        <i class="fas fa-table"></i>
    </button>
    <button class="btn btn-white btn-primary btn-bold tooltip-info" id="group-thumbnail-view-button-576" data-toggle="tooltip" data-placement="top" title="Vue Vignette">
        <i class="fas fa-th"></i>
    </button>
</div>

<!--Table View-->
<div class="group-table-view table-view" id="group-table-view">
    <table id="group-dynamic-table" class="table table-striped table-bordered table-hover dataTable_fixed">
        <thead>
            <tr>
                <th class="group-table-checkbox center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th class="group-table-id hidden"></th>
                <th class="group-table-first">الإسم</th>
                <th class="group-table-actions">الإجراءات</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

<!--Thumbnail View-->
<div id="group-thumbnail-view" class="group-thumbnail-view table-view hidden">
    <div class="search search-area well no-margin-bottom form-inline">
        <div class="row">
            <div class="col-xs-6 col-sm-4 search-length">
                <label>
                    العدد المعروض:
                    <select class="form-control input-sm" id="group-thumbnail-view-search-length">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
            </div>
            <div class="hidden-xs col-sm-4 filer_options"></div>
            <div class="col-xs-6 col-sm-4 search-filter">
                <label>
                    بحث:
                    <input type="search" class="form-control input-sm" placeholder="" id="group-thumbnail-view-search-input">
                </label>
            </div>
        </div>
    </div>

    <div class="row groups-content"></div>
    <div class="search-area well well-sm text-center" id="groups-thumbnail-pagination"></div>
</div>
