/* Table View */
.group-table-checkbox {
    width: 5%;
}

.group-table-first {
    width: 80%;
}

.group-table-actions {
    width: 10%
}

/* Thumbnail View */
.group-thumbnail-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group-thumbnail-view > div {
    width: 100%;
}

.group-thumbnail-view .search {
    padding: 19px 12px 19px 12px;
}

.group-thumbnail-view .search label {
    font-weight: 400;
    display: inline-block;
    font-size: 13px
}

.group-thumbnail-view .search .search-filter {
    text-align: right
}

.group-thumbnail-view .search .search-filter label {
    text-align: left;
}

.group-thumbnail-view .search select {
    width: 70px;
    height: 28px;
    padding: 2px 3px;
    border-radius: 4px !important;
    margin: 0;
}

.group-thumbnail-view .search input[type=search],
.group-thumbnail-view .search input[type=text] {
    width: 125px;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 6px
}

.group-thumbnail .search input[type=search],
.group-thumbnail .search input[type=text],
.group-thumbnail .search select {
    margin-bottom: 0 !important;
    margin: 0 4px;
}

.group-thumbnail-view .search input[type=search] {
    border-radius: 4px !important;
}

@media only screen and (max-width: 768px) {
    .group-thumbnail .search input[type=search],
    .group-thumbnail .search input[type=text],
    .group-thumbnail .search select {
        margin: 0;
    }
}

.group-thumbnail-view .groups-content {
    padding: 24px 12px;
    min-height: 20px
}

.group-thumbnail-view .group-entry .group-header {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #337ab7;
    text-align: center;
}

.group-thumbnail-view .group-entry .group-entry-image {
    width: 100%;
}
