@model EditGroupFrViewModel

<div class="edit-group-popup-wrapper">
    <div class="edit-group-popup">
        <span class="closeButton">&times;</span>
        <h3 class="header smaller lighter blue">Modifier Group</h3>
        <div class="edit-group-popup-content">
            <form id="edit-group-form">

                <input type="hidden" asp-for="WebsiteLanguage" />
                <input type="hidden" asp-for="Id" />

                <div class="edit-group-entry">
                    <div class="edit-group-label">
                        <label asp-for="Name"><strong>Nom</strong><span class="red">*</span></label>
                    </div>
                    <div class="edit-group-input">
                        <input asp-for="Name" autocomplete="off"/>
                    </div>
                    <div class="edit-group-validation">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="edit-group-entry">
                    <div class="edit-group-label">
                        <label asp-for="Description"><strong>Description</strong></label>
                    </div>
                    <div class="edit-group-input">
                        <textarea rows="4" asp-for="Description" autocomplete="off"></textarea>
                    </div>
                    <div class="edit-group-validation">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="center-buttons">
                    <div class="processing-icon-block-shown-576 hidden"><i class="ace-icon fas fa-sync fa-spin blue"></i></div>
                    <div class="processing-icon-inline-block-hidden-576 hidden"><i class="ace-icon fas fa-sync fa-spin blue"></i></div>
                    <button class="btn btn-white btn-success btn-bold" type="submit" id="edit-group-submit-button">
                        <i class="ace-icon fas fa-check-circle"></i>
                        Confirmer
                    </button>
                    <button class="btn btn-white btn-danger btn-bold" type="reset" id="edit-group-reset-button">
                        <i class="ace-icon fas fa-times-circle"></i>
                        Réinitialiser
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>