@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8" />
    <title>Login - GEC</title>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Assets/CSS/Shared/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/fontawesome-pro-5.13.0-web/css/all.min.css" />

    <!-- jQuery -->
    <link rel="stylesheet" href="~/Assets/CSS/Shared/jquery.gritter.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Assets/CSS/Shared/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Assets/CSS/Shared/FR/ace-fr.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Assets/CSS/Shared/FR/main-fr.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Shared/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Shared/ace-rtl.min.css" />

    <!-- ace settings handler -->
    <script type="text/javascript" src="~/Assets/JS/Shared/ace-extra.min.js"></script>
</head>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fas fa-file-alt green"></i>
                                <span class="grey" id="id-text2">GEC</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Iheb Htewech Solutions</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            Authentification
                                        </h4>

                                        <div class="space-6"></div>

                                        <form method="POST">
                                            <fieldset>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input asp-for="Username" class="form-control" placeholder="Email" />
                                                    </span>
                                                    <span asp-validation-for="Username" class="text-danger"></span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input asp-for="Password" class="form-control" placeholder="Mot de passe" />
                                                    </span>
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <label asp-for="RememberMe" class="inline">
                                                        <input asp-for="RememberMe" class="ace" />
                                                        <span class="lbl"> @Html.DisplayNameFor(m => m.RememberMe)</span>
                                                    </label>

                                                    <button type="submit" class="pull-right btn btn-white btn-primary btn-bold">
                                                        <i class="ace-icon fas fa-sign-in"></i>
                                                        <span class="bigger-110">S'authentifier</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->
                        </div><!-- /.position-relative -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script type='text/javascript' src='~/Assets/JS/Shared/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript" src="~/Assets/JS/Shared/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/jquery.gritter.min.js"></script>

    <!-- Main Layout Script -->
    <script type="text/javascript" src="~/Assets/JS/Shared/main.js"></script>

    <!-- ace scripts -->
    <script type="text/javascript" src="~/Assets/JS/Shared/ace-elements.min.js"></script>
    <script type="text/javascript" src="~/Assets/JS/Shared/ace.min.js"></script>
    <script type="text/javascript">
        var errorMessage = @Html.Raw(Json.Serialize(ViewData["ErrorMessage"]));
        if (errorMessage) {
            errorNotification("Error", errorMessage, 3000);
        }

        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
    </script>
</body>
</html>
