@using GEC.ViewModels.Enumerations.Mails.AR
@model NewMailArViewModel

<div class="new-mail-popup-wrapper">
    <div class="new-mail-popup">
        <span class="closeButton">&times;</span>
        <h3 class="header smaller lighter blue">مراسلة جديدة</h3>
        <div class="processing-icon-block-shown-576 hidden"><i class="ace-icon fas fa-sync fa-spin blue"></i></div>
        <label class="btn btn-white btn-primary btn-bold file-upload-button" for="new-mail-file" id="new-mail-upload-button">
            <i class="ace-icon fas fa-file-upload"></i>
            رفع
        </label>
        <div class="left-buttons">
            <div class="processing-icon-inline-block-hidden-576 hidden"><i class="ace-icon fas fa-sync fa-spin blue"></i></div>
            <button class="btn btn-white btn-success btn-bold" type="submit" form="new-mail-form" id="new-mail-submit-button">
                <i class="ace-icon fas fa-check-circle"></i>
                تأكيد
            </button>
            <button class="btn btn-white btn-danger btn-bold" type="reset" form="new-mail-form" id="new-mail-reset-button">
                <i class="ace-icon fas fa-times-circle"></i>
                إعادة
            </button>
        </div>
        <div class="row new-mail-popup-content">
            <div class="col-sm-6 no-padding-left-hidden-768">
                <fieldset class="new-mail-details-wrapper">
                    <legend>التفاصيل</legend>
                    <form id="new-mail-form">
                        <div class="text-right new-mail-details">

                            <input asp-for="DigitizedFile" id="new-mail-file" class="new-mail-file-input" />

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="Object">الموضوع<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="Object" autocomplete="off"/>
                                    <span asp-validation-for="Object" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="MailType">الصنف<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <select asp-for="MailType" asp-items="Html.GetEnumSelectList<MailTypeAr>()"></select>
                                    <span asp-validation-for="MailType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="Channel">الوسيلة<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <select asp-for="Channel" asp-items="Html.GetEnumSelectList<ChannelAr>()"></select>
                                    <span asp-validation-for="Channel" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="RegistrationNumber">رقم التسجيل<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="RegistrationNumber" disabled />
                                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="RegistrationDate">تاريخ التسجيل<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="RegistrationDate" />
                                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="IdSender">المرسل<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <span class="input-icon input-icon-right input-icon-select">
                                        <select asp-for="IdSender"></select>
                                        <i class="ace-icon fas fa-plus green new-contact-button"></i>
                                    </span>
                                    <span asp-validation-for="IdSender" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="IdRecipient">المرسل إليه<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <span class="input-icon input-icon-right input-icon-select">
                                        <select asp-for="IdRecipient"></select>
                                        <i class="ace-icon fas fa-plus green new-contact-button"></i>
                                    </span>
                                    <span asp-validation-for="IdRecipient" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label>له نسخة<span class="red">*</span></label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <div class="new-mail-detail-input-radio-group">
                                        <input asp-for="HasHardCopy" type="radio" id="HasHardCopyYes" value="true" />
                                        <label class="radioLabel" for="HasHardCopyYes">نعم</label>
                                    </div>
                                    <div class="new-mail-detail-input-radio-group">
                                        <input asp-for="HasHardCopy" type="radio" id="HasHardCopyNo" value="false" />
                                        <label class="radioLabel" for="HasHardCopyNo">لا</label>
                                    </div>
                                    <div>
                                        <span asp-validation-for="HasHardCopy" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label>السرية</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <div class="new-mail-detail-input-radio-group">
                                        <input asp-for="Confidentiality" type="radio" id="ConfidentialityNormal" value="1" />
                                        <label class="radioLabel" for="ConfidentialityNormal">عادي</label>
                                    </div>
                                    <div class="new-mail-detail-input-radio-group">
                                        <input asp-for="Confidentiality" type="radio" id="ConfidentialityConfidential" value="2" />
                                        <label class="radioLabel" for="ConfidentialityConfidential">سري</label>
                                    </div>
                                    <div>
                                        <span asp-validation-for="Confidentiality" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="SenderRegistrationNumber">رقم المرسل</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="SenderRegistrationNumber" autocomplete="off"/>
                                    <span asp-validation-for="SenderRegistrationNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="SendingDate">تاريج الإرسال</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="SendingDate" />
                                    <span asp-validation-for="SendingDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="ProcessingTimeFrame">الأولوية</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <select asp-for="ProcessingTimeFrame" asp-items="Html.GetEnumSelectList<ProcessingTimeFrameAr>()"></select>
                                    <span asp-validation-for="ProcessingTimeFrame" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="Language">اللغة</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <select asp-for="Language" asp-items="Html.GetEnumSelectList<LanguageAr>()"></select>
                                    <span asp-validation-for="Language" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="IdFolder">الملف</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <span class="input-icon input-icon-right input-icon-select">
                                        <select asp-for="IdFolder"></select>
                                        <i class="ace-icon fas fa-plus green new-folder-button"></i>
                                    </span>
                                    <span asp-validation-for="IdFolder" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="KeyWords">الكلمات الدالة</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <input asp-for="KeyWords" autocomplete="off"/>
                                    <span asp-validation-for="KeyWords" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="new-mail-detail-entry">
                                <div class="new-mail-detail-label">
                                    <label asp-for="Observations">الملاحظات</label>
                                </div>
                                <div class="new-mail-detail-input">
                                    <textarea asp-for="Observations" rows="10" autocomplete="off"></textarea>
                                    <span asp-validation-for="Observations" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>

                </fieldset>
            </div>
            <div class="col-sm-6 no-padding-right-hidden-768">
                <fieldset class="new-mail-file-viewer-wrapper">
                    <legend>الوثيقة</legend>
                    <div class="new-mail-file-viewer">
                        <iframe src="~/Document Placeholders/AR/SelectDocument_Ar.html" id="new-mail-file-viewer"></iframe>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
